:root{
    --cor-de-fundo: #FB6B6B;
}

html, body{
    width: 100%;
    height: 100%;
}

.root{
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color:var(--cor-de-fundo);
    width: 100%;
    min-height: 100%;
    
}

.tela-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}


.logo-grande{
    width: 136px;
    height: 161px;
    margin-bottom: 13px;
}


.titulo{
    font-size: 36px;
    color: white;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* margin-top: 20px; */
    /* margin-bottom: 40px; */
    /* height: 44px; */

}


.botao-iniciar{
    width: 246px;
    height: 54px;
    color: #D70900;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.404); 
    border: none;
    font-family: "Recursive", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CASL" 0,
    "CRSV" 0.5,
    "MONO" 0;
    cursor: pointer;
    margin-top: 30px;
}

.topico-pergunta{
    display: flex;
    width: 300px;
    height: 65px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.253); 
    cursor: pointer;
}


.topico-pergunta p{
    
    font-size: 16px;
    font-weight: 700;
    font-family: 'Recursive';
    margin-left: 15px;

}

.tela-jogo{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.tela-jogo ion-icon{
    /* color: white; */
    font-size: 23px;
    width: 23px;
    margin-right: 20px;
}


.topo-jogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
    height: 60px;
    margin-bottom: 51px;
}


.container-imagem{
    display: flex;
    width: 52px;
    height: 60px;
}


.pergunta, .resposta{
    padding: 18px 15px 45px 15px;
    position: relative;
    width: 299px;
    min-height: 131px;
    background-color: #FFFFD4;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.486);
    text-wrap: wrap;
}


.pergunta p, .resposta p{
    /* position: absolute; */
    top: 18px;
    left: 15px;
    font-size: 18px;
    font-family: 'recursive';
    font-weight: 400;
}


.pergunta img{
    position: absolute;
    bottom: 5px;
    right: 6px;
    width: 30px;
    height: 20px;
}



.botoes {
    position: absolute;
    width: 271px;
    display: flex;
    justify-content: space-between;
    bottom: 6px;
}

.botao-resposta{
    width: 85.17px;
    height: 37.17px;
    font-family: 'recursive';
    color: white;
    size: 12px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

}


.nao-lembrei{
    background-color: #FF3030;
}


.quase-nao-lembrei{
    background-color: #FF922E;
}


.zap{
    background-color: #2FBE34;
}


.nao-lembrou p{
    color: #FF3030;
    text-decoration: line-through;
}

.quase-nao-lembrou p{
    color: #FF922E;
    text-decoration: line-through;
}

.zapiou p{
    color: #2FBE34;
    text-decoration: line-through;
}


.rodape{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'recursive';
    font-weight: 400;
    font-size: 18px;
    background-color: white;
    width: 100%;
    height: 70px;

}
